<?xml version="1.0" encoding="UTF-8"?>


<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

	<welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

	<context-param>
        <param-name>contextConfigLocation</param-name>
 		<param-value>classpath:/entity-web-context.xml</param-value>
    </context-param>


    <listener>
        <listener-class>eu.europeana.entity.web.context.ApplicationLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
		
	<servlet>
		<servlet-name>entityCollectionServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
 		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:/entity-web-mvc.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>entityCollectionServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
 
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    
    </web-app>
    