<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Europeana Annotation - Templates</title>
<link href="../../../css/css1.css" rel="stylesheet" type="text/css" />
<link href="../../../css/main.css" rel="stylesheet" type="text/css" />
<link href="../../../css/main_002.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="../../templates.css" type="text/css">
</head>
<body>

	<div id="wrapper" class="max-width">
		<header id="banner"><!-- role="banner" ? -->
			<!-- 
			<img class="display-none" src="../../../img/creative-logo.png" alt=""> <img
				class="bg" src="../../../img/creative-banner.jpg" alt="Europeana Projects">
			-->
			<h2 id="top">Europeana Grouping - Templates (JSON-LD)</h2>
		</header>
		<div id="mainblock">
			<div id="content">

